<style>
        table {
          width: 100%;
          table-layout: fixed;
        }
        
        th, td {
          overflow: hidden;
          width: 200px;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .fill-space {
        flex: 10 10 auto;
        }
        .right {
          margin-top: 10px;
          margin-bottom: 20px;
          margin-left: 82%;
        }
        .container{
          margin-top: 20px;
          margin-left: 20px;
          margin-right: 20px;
        }
</style>
        
        
        <mat-sidenav-container autosize style="position: absolute;right: 0px;left: 0px;bottom: 0px;top: 0px;">
          <mat-sidenav opened mode="side">
              <mat-list role="list">
                  <mat-list-item role="listitem"><button mat-button  (click)="patientList()" ><mat-icon>face</mat-icon> Patients</button></mat-list-item>
                  <mat-list-item role="listitem"><button mat-button (click)="caregiverList()">	<mat-icon>supervisor_account</mat-icon> Caregivers</button></mat-list-item>
                  <mat-list-item role="listitem"><button mat-button (click)="medicationList()"> <mat-icon>healing</mat-icon>Medications</button></mat-list-item>
                  <mat-list-item role="listitem"><button mat-button (click)="medplanList()"> 	<mat-icon>note_add</mat-icon>Create a Med Plan</button></mat-list-item>
                </mat-list>             
          </mat-sidenav>
      
          <div class="container">
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="list" class="mat-elevation-z8" >

                  <ng-container matColumnDef="id_patient">
                      <th mat-header-cell *matHeaderCellDef > ID </th>
                      <td mat-cell *matCellDef="let element"> {{element.id_patient}} </td>
                    </ng-container>
                  

                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef > Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.user.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="gender">
                      <th mat-header-cell *matHeaderCellDef > Gender </th>
                      <td mat-cell *matCellDef="let element"> {{element.user.gender}} </td>
                    </ng-container>

                    <ng-container matColumnDef="birthday">
                        <th mat-header-cell *matHeaderCellDef > Birthday </th>
                        <td mat-cell *matCellDef="let element"> {{element.user.birthday | date:'mediumDate'}} </td>
                      </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef > Email </th>
                        <td mat-cell *matCellDef="let element"> {{element.user.email}} </td>
                      </ng-container>
                
                      <ng-container matColumnDef="actions">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions</th>
                          <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="primary"(click)="openDialog(element)">
                                <mat-icon>account_circle</mat-icon>
                            </button>

                              <button mat-icon-button color="warn" (click)="openDialogDelete(element)">
                                  <mat-icon>delete</mat-icon>
                              </button>
                      </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              </div>
          </div>
          <div class="right">
              <button  class="d-inline" mat-fab color="green" (click)="openDialogAdd()"><mat-icon>add</mat-icon></button>
          </div>


          <div class = "container">
            <mat-form-field>
              <mat-label>Patient</mat-label>
              <mat-select [(ngModel)]="id" name="id">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let patient of patients" [value]="patient.id_patient">{{patient.id_patient}}</mat-option>
              </mat-select>
            </mat-form-field>
          
            <mat-form-field>
              <input matInput [matDatepicker]="picker" [(ngModel)]="datePicker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>


          <button mat-raised-button (click)="showChart()">Show</button>
          <div  *ngIf="isShow">


            <!-- Medication Taken List -->
            <div *ngIf="medTaken.length > 0; else elseBlock"> 
              <mat-list>
                <h3 mat-subheader>Medications</h3>
                <mat-list-item *ngFor="let med of allMeds">
                  <mat-icon mat-list-icon *ngFor="let medT of medTaken">{{med.name == medT.medication ? "cancel" : "check_circle"}}</mat-icon>
                  <h4 mat-line>{{med.name}}</h4>
                </mat-list-item>
                <mat-divider></mat-divider>
              </mat-list>

            </div>
            <ng-template #elseBlock> <h3>Pacient didn't took his medication</h3> <mat-divider></mat-divider> </ng-template>

            <!-- comportament anormal -->
            <ng-container *ngFor="let act of activities"> 
              <div *ngIf="act.difference>12">
                 <h3>Pacient comportament is not normal</h3>
                <form>
                  <mat-form-field>
                    <input matInput [(ngModel)]="reco" name="reco" placeholder="Add recomandation">
                  </mat-form-field>
                </form>
                <button mat-button color="primary" (click)="addReco()">Add</button>
              </div>
            </ng-container>
            <mat-divider></mat-divider>

            <!-- chart -->
            <div style="display: block">
              <canvas baseChart
                      [data]="pieChartData"
                      [labels]="pieChartLabels"
                      [chartType]="pieChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
        </div>

        </mat-sidenav-container>


        